body{
    display: flex;
    align-items: center;
    justify-content:center;
}

.container{
    background-color:aliceblue;
    display:flex;
    height: 650px;
    width: 1000px;
    padding: 0 0px 0 20px;
}

img{
    height:650px;
    padding: 0 0 0 10px;
}

h2{
    margin: 0 0 70px 0;
}

h6{
    color:royalblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p{
    font-family:'Courier New', Courier, monospace;
    margin: 0 0 70px 0;
}

#btn1{
    background-color:royalblue;
    color:aliceblue;
    padding: 12px;
    border-radius: 4px;
    border:none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

#btn2{
    background-color:aliceblue;
    margin: 0 0 0 10px;
    padding: 12px;
    border:none;
    color:royalblue;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

