.parent{
  display: flex;
  flex-wrap: wrap;
}

.container{
  height: 350px;
  width: 300px;
  border: solid black 1px;
  border-radius: 30px;
  margin: 10px;
  padding: 25px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.header img{
  height: 35px;
  width: 35px;
  border: solid #dadada 1px;
  padding: 8px;
  border-radius: 50px;
}

.header button{
  height: 25px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: none;
  gap: 1px;
}

.body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body .y{
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 5px;
}

.body .y p{
  background-color: #dadada;
  padding: 3px;
  border: none;
  border-radius: 5px;
}

.body span{
  font-size: 10px;
  color:#868080;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid #dadada 2px;
  margin: 50px 0 20px 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.footer p{
  font-size: 12px;
  color:#868080;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.footer button{
  padding: 7px 17px;
  border: none;
  border-radius: 7px;
  color:aliceblue;
  background-color:black;
  color: #dadada;
  font-weight: bold;
}

